@model IEnumerable<_7_Elephant.Phone>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
    
        <td>
            <img src="@Url.Content("~/Content/images/" + @Html.DisplayFor(modelItem => item.url))" style="width: 100px; height: auto" />
        </td>
        <td>
            @Html.ActionLink("Select", "Place_Order", "Phones",
            new { id = item.C_product_id },
            new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
